
.span{

    color: brown;
}
.head{

text-align: center;

}
.author{
color: white;
}
.blog{

background-color: aqua;

border: 5px solid rebeccapurple;
border-radius: 20px;

padding: 30px;
margin:40px 10px;

}